<h1>
	<%= @pool.title %>
</h1>

<p>
  <strong>Buy in cost:</strong>
  <%= @pool.wager%>
</p>

<p>
	<strong>Total pot:</strong>
	<%= @pool.total_pot =%>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>

<h2>Outcomes</h2>
<table>
	<thead>
    	<tr>
    	  <th>Title</th>
    	  <th>Summary</th>
    	  <th>Bets</th>
    	  <th>Odds</th>
    	  <th>Payout</th>
    	</tr>
  	</thead>
	<tbody>
		<% @pool.outcomes.each do |outcome| %>
		      <tr>
		        <td><%= link_to outcome.title, outcome %></td>
		        <td><%= outcome.summary %></td>
		        <td><%= wager_count = outcome.wagers.count %></td>
		        <td><%= a = @pool.outcomes.reduce(0) { |m,o| m + o.wagers.count } 
		        if a > 0 and wager_count > 0
		        	odds = Rational(a,wager_count)
		        	"#{odds.numerator} to #{odds.denominator} against"
		        else
		        	"NA"
		        end %></td>
		        <td><%= outcome.wagers.count > 0 ? @pool.total_pot / outcome.wagers.count : 0 %></td>
		      </tr>
		<% end %>
	</tbody>
</table>

