<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pool.title %>
</p>

<p>
  <strong>Buy in:</strong>
  <%= @pool.buy_in %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
