<p id="notice"><%= notice %></p>

<h1>
	<%= @pool.title %>
</h1>

<p>
  <strong>Buy in cost:</strong>
  <%= @pool.wager%>
</p>

<p>
	<strong>Total pot:</strong>
	<%= @pool.total_pot =%>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>

<h2>Outcomes</h2>
<table>
	<thead>
    	<tr>
    	  <th>Title</th>
    	  <th>Summary</th>
    	  <th>Bets</th>
    	  <th>Odds</th>
    	  <th>Payout</th>
    	</tr>
  	</thead>
	<tbody>
		<% @pool.outcomes.each do |outcome| %>
		      <tr>
		        <td><%= outcome.title %></td>
		        <td><%= outcome.summary %></td>
		        <td><%= outcome.wagers.count %></td>
		        <td><%= Rational(outcome.wagers.count + 1 / @pool.outcomes.reduce(0) { |m,o| m + o.wagers.count }) %></td>
		        <td><%= outcome.wagers.count > 0 ? @pool.total_pot / outcome.wagers.count : 0 %></td>
		      </tr>
		<% end %>
	</tbody>
</table>

