<h1>
	<%= @pool.title %>
</h1>

<p>
  <strong>Buy in cost:</strong>
  <%= @pool.wager%>
</p>

<p>
	<strong>Total pot:</strong>
	<%= @pool.total_pot =%>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>

<h2>Outcomes</h2>
<%= render "outcomes" %>
<%= link_to 'New Outcome', new_outcome_path %>

