<h1>Listing outcomes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Bets</th>
    </tr>
  </thead>

  <tbody>
    <% @outcomes.each do |outcome| %>
      <tr>
        <td><%= outcome.title %></td>
        <td><%= outcome.summary %></td>
        <td><%= outcome.wagers.count %></td>
        <td><%= link_to 'Show', outcome %></td>
        <td><%= link_to 'Bet!', profile_path(:outcome => outcome.id), method: :bet %></td>
        <td><%= link_to 'Edit', edit_outcome_path(outcome) %></td>
        <td><%= link_to 'Destroy', outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outcome', new_outcome_path %>
