<h1>Pool: <%= @outcome.pool.title %> </h1>


<p>
  <strong>Title:</strong>
  <%= @outcome.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @outcome.summary %>
</p>

<p><%= link_to 'Bet!', profile_path(:outcome => @outcome.id), method: :bet %></p>

<%= link_to 'Edit', edit_outcome_path(@outcome) %> |
<%= link_to 'Back', outcomes_path %>
